body{
    background: linear-gradient(to left, rgb(212, 209, 122),rgb(112, 53, 53));
}

h1{
    color: rgba(219, 178, 130, 0.8);
    position: absolute;
    font-size: 70px;
    left: 20px;
    animation: ani 1.5s ease;
}

.title{
    height: 120px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 15px;
    top: 40px;
    border-radius: 50px;
    animation: ani 1.5s ease;
}

.animal1{
    height: 200px;
    width: 300px;
    background: url(animal.jpeg);
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 45px;
    border-radius: 50px;
    animation: ani 1.5s ease;
}

.animal2{
    height: 200px;
    width: 300px;
    background: url(chicken-ani.jpg);
    background-size: cover;
    position: absolute;
    top: 600px;
    left: 45px;
    border-radius: 50px;
    animation: ani 1.5s ease;
}

.animal3{
    height: 200px;
    width: 300px;
    background: url(cheese.jpg);
    background-size: cover;
    position: absolute;
    top: 1000px;
    left: 45px;
    border-radius: 50px;
    animation: ani 1.5s ease;
}

.animal4{
    height: 200px;
    width: 300px;
    background: url(cheesy.jpg);
    background-size: cover;
    position: absolute;
    top: 1400px;
    left: 45px;
    border-radius: 50px;
    animation: ani 1.5s ease;
}

.animal5{
    height: 200px;
    width: 300px;
    background: url(ck.jpg);
    background-size: cover;
    position: absolute;
    top: 1800px;
    left: 45px;
    border-radius: 50px;
    animation: ani 1.5s ease;
}

.animal6{
    height: 200px;
    width: 300px;
    background: url(mac2.jpg);
    background-size: cover;
    position: absolute;
    top: 2200px;
    left: 45px;
    border-radius: 50px;
    animation: ani 1.5s ease;
}

.style1{
    font-size: 30px;
    position: absolute;
    top: 420px;
    left: 40px;
    color: antiquewhite;
    animation: ani 1.5s ease;
}

.style2{
    font-size: 30px;
    position: absolute;
    top: 820px;
    left: 40px;
    color: antiquewhite;
    animation: ani 1.5s ease;
}

.style3{
    font-size: 30px;
    position: absolute;
    top: 1220px;
    left: 120px;
    color: antiquewhite;
    animation: ani 1.5s ease;
}

.style4{
    font-size: 30px;
    position: absolute;
    top: 1620px;
    left: 120px;
    color: antiquewhite;
    animation: ani 1.5s ease;
}

.style5{
    font-size: 30px;
    position: absolute;
    top: 2020px;
    left: 120px;
    color: antiquewhite;
    animation: ani 1.5s ease;
}

.style6{
    font-size: 30px;
    position: absolute;
    top: 2420px;
    left: 60px;
    color: antiquewhite;
    animation: ani 1.5s ease;
}

.beve{
    height: 100px;
    width: 200px;
    position: absolute;
    top: 2500px;
    left: 90px;
    animation: ani 1.5s ease;
    color: rgb(107, 105, 79,.9);
    background-color: rgb(240, 213, 177,.8);
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

.add{
    height: 200px;
    width: 300px;
    position: absolute;
    top: 2600px;
}


@keyframes ani {
    0%{
        transform: translateY(100px);
    }

    100%{
        transform: translateY(0px);
    }
    
}
